body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

#personalia {
    background-color: aquamarine;
}

#championship {
    background-color: powderblue;
}

input[type=text], input[type=email], input[type=date], input[type=password] {
    background-color: cyan;
}

textarea {
    resize: none;
}